<div class="fondo-principal">
    <h1>Tours & Travels</h1>
    <h2> Amazing Places on earth</h2>
    <p>December 12,2018</p>
  </div>
  <div class="cards">
    <div>
      <img src="/img/bolso.jpg" alt="bolso y brazo de una chica"> 
      <button>Fashion</button>
      <h3>New York fashion week`s continued  the evolution</h3>
      <p>2 days ago</p>
    </div>
    <div>
      <img src="/img/camino-montaña.jpg" alt="bolso y brazo de una chica"> 
      <button>Fashion</button>
      <h3>New York fashion week`s continued  the evolution</h3>
      <p>2 days ago</p>
    </div>
    <div>
      <img src="/img/bolso.jpg" alt="bolso y brazo de una chica"> 
      <button>Fashion</button>
      <h3>New York fashion week`s continued  the evolution</h3>
      <p>2 days ago</p>
    </div>
  </div>

  <!-- FUENTES LOCALIZADAS, DOS TIPOS A UTILIZAR.
  
    PALETA DE COLORES LA DE PORNHUB

    EDITAR DOS FOTOS MAS PARA EL FASHION
    METER FONTS EN EL CSS
    ESTILAR RAPIDO EL TOS.EJS
    COMENZAR FORMULARIO
    IMPLEMENTAR NODEMAILER
    METER BASE DE DATOS DE MONGO
  -->