<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/tos.css" />
    <link rel="stylesheet" href="/stylesheets/contacto.css" />
  </head>
  <body>
    <header>
        <nav class="navegador"> 
          <div class="titulo">Sensive</div>
          <div class="botones"> 
            <button><a class="<%= path === '/' ? 'marcado' : '' %>" href="/">Home</a></button>
            <button ><a class="<%= path === '/tos' ? 'marcado' : '' %>" href="/tos">ToS</a></button>
            <button  ><a class="<%= path === '/contacto' ? 'marcado' : '' %>"href="/contacto">Contacto</a></button>
          </div>
          <div class="burguer">burguer</div>
        </nav>
    </header>
    <main >
        <%-include(body) %>
    </main>

  </body>
</html>