
    <h1> Términos y Condiciones</h1>
    <h2>Esto es un ejemplo de una vista que contiene términos y condiciones</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem  
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.   
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, id possimus. Sequi facere totam eveniet, odit beatae porro veritatis corrupti id, nihil labore minus veniam voluptates voluptatibus laboriosam? Obcaecati, aspernatur
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.   
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, id possimus. Sequi facere totam eveniet, odit beatae porro veritatis corrupti id, nihil labore minus veniam voluptates voluptatibus laboriosam? Obcaecati, aspernatur.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.   
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, id possimus. Sequi facere totam eveniet, odit beatae porro veritatis corrupti id, nihil labore minus veniam voluptates voluptatibus laboriosam? Obcaecati, aspernatur Excepturi laboriosam saepe sequi vero quam modi nulla, ullam itaque optio iure pariatur commodi iste illo ipsum dolorum, illum necessitatibus minima reiciendis.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, harum, perferendis repudiandae eos distinctio minima ab possimus doloribus ad numquam asperiores? Accusamus eveniet molestiae quos voluptatum voluptatem. Minus, beatae alias.lorem</p>
