
@font-face {
    font-family: 'baskerville'; 
    src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'); 
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100vw;  
    overflow-x: hidden;
}

.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 5%;
}

.titulo{
    color: #13191a;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'baskerville';
}
.botones>button{
    padding: 10px;
    text-decoration: none;
    background: none;
    border: none;
}
.botones>button>a{
    text-decoration: none;
    color: black;
    font-family: 'inter';
    font-size: 20px;
    font-weight: bold;
    transition: border 0.1 ease;
}
.botones>button>a:hover{
    border-bottom: 3px solid black;
   
}

.burguer{
    visibility: hidden;
}
main{
    width: 100%;
    box-sizing: border-box;
}
.marcado{
  border-bottom: 4px solid black;
}



  /* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    /* Ocultar botones de navegación */
   
        .botones {
          display: none; /* Oculta los botones de navegación por defecto */
          flex-direction: column; /* Muestra los enlaces en columna */
          align-items: center; /* Centra los enlaces verticalmente */
          position: absolute;
          top: 60px; /* Ajusta según sea necesario para evitar superposiciones con el encabezado */
          left: 0;
          width: 100%;
          background-color: #0b0b0b;
          color: #fff;
          z-index: 10;
        }
        .botones.open {
            display: flex; /* Muestra los enlaces cuando el botón está abierto */
            height: 100vh;
          }
      
        .botones>button>a {
          display: block;
          padding: 10px;
          color: #fff;
          border-color: #fff;
          text-decoration: none;
        }
      
        .burguer {
          display: block;
        }
      
        .burguer.open + .botones {
          display: flex; /* Muestra los enlaces cuando el botón está abierto */
        }
      
    /* Mostrar botón de hamburguesa */
/* nav-icon-2 */
.nav-icon-2{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-2 span{
    background-color:#0b0b0b;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-2 span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: 0px;
    left: 0px;
  }
  .nav-icon-2 span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-icon-2 span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-2:not(.open):hover span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-2:not(.open):hover span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 13px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-2:not(.open):hover span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-2.open span:nth-child(1){
    left:3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;
  }
  .nav-icon-2.open span:nth-child(2){
    left:2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;
  }
  .nav-icon-2.open span:nth-child(3){
    left:14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
  }
  }