
@font-face {
    font-family: 'baskerville'; 
    src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'); 
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100vw;  
    overflow-x: hidden;
}

.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 5%;
}

.titulo{
    color: #13191a;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'baskerville';
}
.botones>button{
    padding: 10px;
    text-decoration: none;
    background: none;
    border: none;
}
.botones>button>a{
    text-decoration: none;
    color: black;
    font-family: 'inter';
    font-size: 20px;
    font-weight: bold;
    transition: border 0.1 ease;
}
.botones>button>a:hover{
    border-bottom: 3px solid black;
   
}

.burguer{
    visibility: hidden;
}
main{
    width: 100%;
    box-sizing: border-box;
}
.marcado{
  border-bottom: 4px solid black;
}


  /* Estilos para pantallas de 720px hasta 1079px */
  @media screen and (min-width: 720px) and (max-width: 1079px) {
    
  }
  
  /* Estilos para pantallas de 370px hasta 719px */
@media screen and (min-width: 370px) and (max-width: 719px) {
    
  }