.mis-consultas{
    font-family:'inter';
    font-size: 36px;
    color: #1b1b1b;
    font-weight: 500;
}
.consultas-explicacion{
    font-family: 'inter';
    font-size: 28px;
    color: #808080;
}
.caja-preguntas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pregunta{
    width: 300px;
    height: 200px;
    min-height: 100px;
    background-color: #eeeeee;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
    padding: 20px;
    overflow: auto;
    overflow-x: hidden;
}
.pregunta::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */

}
/* Estilo del riel de la barra de desplazamiento */
.pregunta::-webkit-scrollbar-track {
    background-color: #ffa31a; /* Color del riel */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Estilo del pulgar (la parte móvil) de la barra de desplazamiento */
.pregunta::-webkit-scrollbar-thumb {
    background-color: #808080; /* Color del pulgar */
    border-radius: 5px; /* Bordes redondeados del pulgar */

}

/* Estilo del pulgar cuando se está moviendo */
.pregunta::-webkit-scrollbar-thumb:hover {
    background-color: #423f3f;
}

.pregunta>h2{
    font-family: 'inter';
    text-align: start;
    font-size: 24px;
    color: #1b1b1b;
    font-weight: 500;

}
.pregunta>p{
    font-family: 'inter';
    padding-left: 0;
    text-align: start;
    font-size: 18px;
    color: #1b1b1b;
    font-weight: 500;
}

